<!DOCTYPE >
<html>
  <head>
    <title>Google Auth</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <h1>Google Auth</h1>
    <%= token %>
  </body>
  <script>
  console.log("opened");
  console.log(window.opener)
  if(window.opener){
    console.log("sending message");
    window.opener.postMessage('test', 'http://localhost:4000');
  }
  </script>
</html>
